<%- include('_layouts/header') -%>
<form action="/login" method="post">
    <input type="text" name="userName" placeholder="User Name" autofocus autocomplete="off">
    <input type="password" name="password" placeholder="Passowrd">
    <button type="submit">Submit</button>
</form>
<%- include('_layouts/footer') -%>
